.DS_Store
.Spotlight-V100
.Trashes
.env
.svn
.cvs
.travis
.git*
.*.yml
.idea
.styleci.yml
.gitlab-ci.yml
.editorconfig
.env.example
.dockerignore
._*
*~
*.swp
*.pyc
docker-*
Dockerfile*
Desktop.ini
Thumbs.db
CODE_OF_CONDUCT.md
app/vendor/**/test
app/vendor/**/tests
start-*.sh
README.md