/node_modules
/public/hot
/public/storage
/public/file
/public/images
/public/images/thumbnail
/public/materi
/public/rekrut_file
/public/file_import
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
