.list-materi, .detail-materi, #absen-area{
    border: 1px solid grey;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

#absen-area{
    margin-left: 10px;
    margin-right: 50px;
}

.pilih-materi{
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    width: fit-content;
}

#materi-area{
    display:none;
}